{% extends 'base.html' %}

{% load django_bootstrap5 %}

{% block title %}Enter new password{% endblock title %}

{% block content %}
    {% if validlink %}
        <h1>Задайте новый пароль!</h1>
        <form method="post">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% bootstrap_button button_type="submit" content="Изменить пароль" %}
        </form>
    {% else %}
        <p>Ссылка для смены пароля неверная, возможна она уже была использована ранее. Пожалуйста запросите новую <a href="{% url 'password_reset' %}">ссылку для сброса пароля</a>.</p>
    {% endif %}
{% endblock content %}