{%  extends 'base.html' %}

{% block title %}Выберите категорию{% endblock title %}

{% block content %}
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Категория</th>
          <th scope="col">Количество тестов</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
      {% for category in categories %}
            <tr>
                <td>{{ category.name }}</td>
                <td>{{ category.quizzes.count }}</td>
                <td><a class="btn btn-danger" href="{% url 'quiz:category' category.slug %}">Перейти</a></td>
            </tr>
      {% endfor %}
      </tbody>
    </table>
{% endblock content %}